body{
    color:#2D3144;
    background-color:rgb(202, 219, 216);
}

table{
    margin:0 auto;
}
tr{
    display: block;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
td{
    display: inline-block;
    width:40%;
    vertical-align: top;
}
h3{
    margin: 40px auto 20px auto;
}
/*.table-row{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}*/
.btn{
    margin-top: 20px;
}
.each_user{
    height: auto;
    border:black 1px solid;
    margin-bottom: 5px;
}
#userlist{
    margin-top: 20px;
}